<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="course.android.letgo_307945402_204317770">

    <uses-feature
        android:name="android.hardware.CAMERA"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GUI.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".SearchActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI.ChatLogsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_chat_logs"
            android:parentActivityName=".GUI.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="course.android.letgo_307945402_204317770.GUI.MainActivity" />
        </activity>
        <activity
            android:name=".GUI.SellItemActivity"
            android:configChanges="orientation"
            android:label="@string/sellitem"
            android:parentActivityName=".GUI.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="course.android.letgo_307945402_204317770.GUI.MainActivity" />
        </activity>
        <activity
            android:name=".GUI.ProfileActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".GUI.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranparentOverLay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="course.android.letgo_307945402_204317770.GUI.MainActivity" />
        </activity>
        <activity
            android:name=".GUI.SearchActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".GUI.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".GUI.EditProfileActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".GUI.ProfileActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="course.android.letgo_307945402_204317770.GUI.ProfileActivity" />
        </activity>
        <activity
            android:name=".GUI.FilterActivity"
            android:configChanges="orientation"
            android:label="@string/filterActivity"
            android:parentActivityName=".GUI.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="course.android.letgo_307945402_204317770.GUI.MainActivity" />
        </activity>
        <activity
            android:name=".GUI.ItemViewActivity"
            android:configChanges="orientation"
            android:parentActivityName=".GUI.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="course.android.letgo_307945402_204317770.GUI.MainActivity" />
        </activity>
        <activity
            android:name=".GUI.MessagesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GUI.WelcomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <service
            android:name=".Services.NotifyierService"
            android:enabled="true"
            android:process=":remote" />

        <receiver
            android:name=".Services.BootStartUpReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>